.ac-container{
	width: 100%;
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label{
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
    margin-top: 20px;
    background: none repeat scroll 0% 0% transparent;
    color: #001CFF;
    border: 1px solid #D6D6D6;
    height: 75px;
    line-height: 75px;
    padding-left: 40px;
    font-size: 24px;
    -webkit-transition: all linear 0.15s;
    -moz-transition: all linear 0.15s;
    -o-transition: all linear 0.15s;
    -ms-transition: all linear 0.15s;
    transition: all linear 0.15s;
}
.ac-container label:hover{
    background: none repeat scroll 0% 0% #001CFF !important;
    border: 1px solid #001CFF !important;
    color: #fff !important;
}
.ac-container label:hover:after{
    color: white;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: none repeat scroll 0% 0% #001CFF !important;
    border: 1px solid #001CFF !important;
    color: #fff !important;
}
.ac-container label:after,
.ac-container input:checked + label:after{
    content: "Развернуть";
    position: absolute;
    width: 125px;
    height: 75px;
    right: 13px;
    top: 0;
    background: url("../images/open.png") no-repeat scroll 85px 35px transparent;
    font-size: 18px;
    color: #D6D6D6;
}
.ac-container input:checked + label:after{
    background: url("../images/close.png") no-repeat scroll 85px 35px transparent;
    content: 'Свернуть';
    color: white;
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
	-ms-transition: all linear 0.15s;
	transition: all linear 0.15s;
}
.ac-container article p{
	line-height: 23px;
    font-size: 18px;
	padding: 20px;
}
.ac-container input:checked ~ article{
    -webkit-transition: all linear 0.15s;
    -moz-transition: all linear 0.15s;
    -o-transition: all linear 0.15s;
    -ms-transition: all linear 0.15s;
    transition: all linear 0.15s;
    border: 1px solid #001CFF !important;
}
.ac-container input:checked ~ article.ac-small{
    height: 250px;
}
.ac-container input:checked ~ article.ac-medium{
    height: 290px;
}
.ac-container input:checked ~ article.ac-large{
    height: 360px;
}