@import url(reset.css);
@import url(accordion.css);
@font-face {
    font-family: 'pfbulletinsanspro-regular';
    src: url('../fonts/pfbulletinsanspro-regular.ttf');
    src: local('?'), url('../fonts/pfbulletinsanspro-regular.woff') format('woff'), url('../fonts/pfbulletinsanspro-regular.ttf') format('truetype'), url('../fonts/pfbulletinsanspro-regular.svg') format('svg'), url('../fonts/pfbulletinsanspro-regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pfbulletinsanspro-medium';
    src: url('../fonts/pfbulletinsanspro-medium.ttf');
    src: local('?'), url('../fonts/pfbulletinsanspro-medium.woff') format('woff'), url('../fonts/pfbulletinsanspro-medium.ttf') format('truetype'), url('../fonts/pfbulletinsanspro-medium.svg') format('svg'), url('../fonts/pfbulletinsanspro-medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pfbulletinsanspro-light';
    src: url('../fonts/pfbulletinsanspro-light.ttf');
    src: local('?'), url('../fonts/pfbulletinsanspro-light.woff') format('woff'), url('../fonts/pfbulletinsanspro-light.ttf') format('truetype'), url('../fonts/pfbulletinsanspro-light.svg') format('svg'), url('../fonts/pfbulletinsanspro-light.otf');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'pfbulletinsanspro-regular', arial, sans-serif;
    font-size: 18px;
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #727272;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #727272;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #727272;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #727272;
}
.wrap{
    width: 960px;
    margin: 0 auto;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
.section1{
    padding-top: 22px;
    overflow: hidden;
}
.logo{
    margin: 7px 0 29px 0;
    float: left;
}
.phone{
    float: right;
    width: 238px;
    height: 48px;
    font-family: 'pfbulletinsanspro-regular', arial, sans-serif;
}
.phone h2{
    font-size: 29px;
    letter-spacing: 0.02em;
    margin-bottom: 2px;
}
.phone a{
    text-decoration: none;
    color: #001cff;
    float: right;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
.section2-bg{
    background: url("../images/bg.jpg")no-repeat center;
    height: 968px;
    width: 100%;
}
.section2{
    text-align: center;
}
.section2 h1{
    font-size: 60px;
    font-family: 'pfbulletinsanspro-medium', arial, sans-serif;
    color: #fff;
    padding: 173px 0 62px;
    line-height: 72px;
}
.section2 a, .form input[type='submit']{
    font-size: 24px;
    cursor: pointer;
    display: block;
    color: #fff;
    width: 300px;
    height: 24px;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 auto 120px;
    background: #001cff;
    background: -moz-linear-gradient(top, #001cff 0%, #001cff 93%, #001198 94%, #001198 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001cff), color-stop(93%,#001cff), color-stop(94%,#001198), color-stop(100%,#001198));
    background: -webkit-linear-gradient(top, #001cff 0%,#001cff 93%,#001198 94%,#001198 100%);
    background: -o-linear-gradient(top, #001cff 0%,#001cff 93%,#001198 94%,#001198 100%);
    background: -ms-linear-gradient(top, #001cff 0%,#001cff 93%,#001198 94%,#001198 100%);
    background: linear-gradient(to bottom, #001cff 0%,#001cff 93%,#001198 94%,#001198 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001cff', endColorstr='#001198',GradientType=0 );
}
.section2 a:hover, .form input[type='submit']:hover{
    background: #263fff;
    background: -moz-linear-gradient(top, #263fff 0%, #263fff 93%, #001198 94%, #001198 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#263fff), color-stop(93%,#263fff), color-stop(94%,#001198), color-stop(100%,#001198));
    background: -webkit-linear-gradient(top, #263fff 0%,#263fff 93%,#001198 94%,#001198 100%);
    background: -o-linear-gradient(top, #263fff 0%,#263fff 93%,#001198 94%,#001198 100%);
    background: -ms-linear-gradient(top, #263fff 0%,#263fff 93%,#001198 94%,#001198 100%);
    background: linear-gradient(to bottom, #263fff 0%,#263fff 93%,#001198 94%,#001198 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263fff', endColorstr='#001198',GradientType=0 );
}
.section2-img-box ul li{
    float: left;
    width: 209px;
    height: 107px;
    margin-bottom: 50px;
}
.section2-img-box ul li:nth-child(2){
    margin: 0 166px;
}
.section2-img-box ul li:nth-child(4){
    margin: 0 173px;
}
.section2-img-box ul li p{
    margin-top: 5px;
    color: #ffffff;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
.section3{
    margin-top: 80px;
}
.section3 h2{
    text-align: center;
    font-family: 'pfbulletinsanspro-medium', arial, sans-serif;
    font-size: 36px;
    color: #363636;
    padding-top: 2px;
}
.section3 h2 span{
    border-bottom: 3px solid #001cff;
    color: #363636;
    padding-bottom: 12px;
}
.section3 > p{
    margin-top: 29px;
    text-align: center;
    margin-bottom: 52px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
.section4{
    border: 1px solid #282828;
    padding-top: 56px;
    padding-bottom: 46px;
    margin-bottom: 66px;
    margin-top: 40px;
}
.section4 h2{
    text-align: center;
    margin-bottom: 16px;
    font-size: 36px;
    font-family: 'pfbulletinsanspro-medium', arial, sans-serif;
}
.section4 > p{
    text-align: center;
    margin-bottom: 37px;
}
.form{
    width: 503px;
    margin: 0 auto;
}
.form p{
    margin-bottom: 16px;
    font-size: 16px;
}
.form p input[type='text'], .dropdown{
    width: 419px;
    padding: 9px 30px;
    margin-top: 6px;
    background: #e9e9e9;
    border: 1px solid #e9e9e9;
    color: #727272;
    font-size: 18px;
}
.form p input[type='text']:focus, .form p select:focus{
    background: #fff;
    border: 1px solid #e9e9e9;
}
.form input[type='submit']{
    font-family: "pfbulletinsanspro-regular",arial,sans-serif;
    border: none;
    height: 63px;
    font-size: 24px;
    padding: 0px 0 7px 0;
    margin: 30px auto 20px;
}
.form h3{
    width: 170px;
    height: 21px;
    margin: 0 auto;
    color: #7d7d7d;
    padding: 1px 0 0 60px;
    background: url("../images/clock.png")no-repeat 18px center;
    line-height: 21px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
.section5 ul li{
    float: left;
    text-align: center;
    width: 25%;
}
.section5 ul li img{
    margin-bottom: 20px;
}
.section5 ul li p{
    margin-top: 3px;
    font-family: 'pfbulletinsanspro-light', arial, sans-serif;
}
.section5{
    overflow: hidden;
    margin-bottom: 83px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
.footer{
    background: #363636;
    height: 115px;
}
.footer .wrap .section1{
    padding-top: 30px;
}
.footer .wrap .section1 .logo {
    margin: 10px 0 29px 0;
}
.footer .wrap .section1 .phone h2{
    color: #7d7e82;
}
.footer .wrap .section1 .phone a{
    color: #fff;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
.modalDialog, .phoneModalDialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    opacity: 0;
    pointer-events: none;
}
.modalDialog:target, .phoneModalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialog > div, .phoneModalDialog > div{
    width: 370px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -205px;
    padding: 20px;
    background: #fff;
}
.phoneModalDialog > div{
    height: auto;
    margin: -142px 0 0 -205px;
}
.close-all{
    width: 100%;
    height: 100%;
    display: block;
}
.close {
    color: #c6c6c6;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}
.close:hover {
    color: #001cff;
    border-left: 1px solid #001cff;
    border-bottom: 1px solid #001cff;
}
.modalDialog-form h2{
    color: #000000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.modalDialog-form form input[type='text'], .phoneModalDialog form input[type='text']{
    margin-bottom: 15px;
}
.modalDialog-form form textarea{
    height: 110px !important;
    padding-top: 10px !important;
}
.modalDialog-form form input[type='text'], .modalDialog-form form textarea, .modalDialog-form form input[type='submit'], .phoneModalDialog form input[type='text'], .phoneModalDialog form input[type='submit']{
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    border: none;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: 'PFDinTextPro-Thin';
    padding: 0;
}
.modalDialog-form form input[type='submit'], .phoneModalDialog form input[type='submit']{
    background: #001cff;
    background: -moz-linear-gradient(top, #001cff 0%, #001cff 93%, #001198 94%, #001198 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001cff), color-stop(93%,#001cff), color-stop(94%,#001198), color-stop(100%,#001198));
    background: -webkit-linear-gradient(top, #001cff 0%,#001cff 93%,#001198 94%,#001198 100%);
    background: -o-linear-gradient(top, #001cff 0%,#001cff 93%,#001198 94%,#001198 100%);
    background: -ms-linear-gradient(top, #001cff 0%,#001cff 93%,#001198 94%,#001198 100%);
    background: linear-gradient(to bottom, #001cff 0%,#001cff 93%,#001198 94%,#001198 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001cff', endColorstr='#001198',GradientType=0 );
    color: white;
    font-family: 'PFDinTextPro-Medium';
    cursor: pointer;
    margin-top: 26px;
}
.modalDialog-form form input[type='submit']:hover, .phoneModalDialog form input[type='submit']:hover{
    background: #263fff;
    background: -moz-linear-gradient(top, #263fff 0%, #263fff 93%, #001198 94%, #001198 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#263fff), color-stop(93%,#263fff), color-stop(94%,#001198), color-stop(100%,#001198));
    background: -webkit-linear-gradient(top, #263fff 0%,#263fff 93%,#001198 94%,#001198 100%);
    background: -o-linear-gradient(top, #263fff 0%,#263fff 93%,#001198 94%,#001198 100%);
    background: -ms-linear-gradient(top, #263fff 0%,#263fff 93%,#001198 94%,#001198 100%);
    background: linear-gradient(to bottom, #263fff 0%,#263fff 93%,#001198 94%,#001198 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263fff', endColorstr='#001198',GradientType=0 );
}
.phoneModalDialog form input[type='submit']{
    margin: 0!important;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
.error {
    -webkit-box-shadow: 0 0 2px 1px #FF0000;
    box-shadow: 0 0 2px 1px #FF0000;
}
.valid {
    -webkit-box-shadow: 0 0 2px 1px #81e569;
    box-shadow: 0 0 2px 1px #81e569;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
@media screen and (min-width:0) and (max-width:980px) {
    .wrap{
        width: 100%;
        min-width: 320px;
    }
}
/*========================================================================================================================*/
/*========================================================================================================================*/
@media screen and (min-width:0) and (max-width:540px) {
    .logo {
        float: none;
        margin: 0 auto 32px !important;
        width: 282px;
    }
    .phone {
        float: none;
        margin: 0 auto 20px;
    }
    .footer {
        height: auto;
    }
}
/*========================================================================================================================*/
/*========================================================================================================================*/
@media screen and (min-width:0) and (max-width:959px) {
    .section2-img-box ul li {
        width: 25%;
    }
    .section2-img-box ul li:nth-child(2){
        margin: 0 0 25px 0;
    }
    .section2-img-box ul li:nth-child(4){
        margin: 0 0 25px 0;
    }
    .section2-img-box ul li:nth-child(5){
        margin: 0 auto;
        float: none;
    }
}
@media screen and (min-width:0) and (max-width:836px) {
    .section2-img-box ul li {
        width: 50%;
        margin-bottom: 25px;
    }
    .section2 a{
        margin: 0px auto 40px;
    }
}
@media screen and (min-width:0) and (max-width:603px) {
    .section2 h1 {
        font-size: 38px;
        line-height: 54px;
    }
}
@media screen and (min-width:0) and (max-width:420px) {
    .section2-bg {
        height: auto;
        background: url("../images/bg.jpg") no-repeat scroll center center transparent;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    .section2-img-box ul li {
        width: 100%;
        margin-bottom: 50px;
    }
    .section2-img-box ul li:nth-child(5){
        float: left;
        margin-bottom: 50px;
    }
}
@media screen and (min-width:0) and (max-width:374px) {
    .section2 h1 {
        font-size: 31px;
    }
}
/*========================================================================================================================*/
/*========================================================================================================================*/
@media screen and (min-width:0) and (max-width:960px) {
    .section3 h2 {
        font-size: 31px;
    }
}
@media screen and (min-width:0) and (max-width:751px) {
    .ac-container input:checked + label:after {
        display: none;
    }
    .ac-container label:after,
    .ac-container input:checked + label:after{
        display: none;
    }
    .ac-container label{
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        text-overflow: ellipsis;
        padding-left: 10px !important;
    }
    .accordion-section-content {
        margin-top: -3px;
    }
}
@media screen and (min-width:0) and (max-width:440px) {
    /*.ac-container input:checked ~ article.ac-large {*/
    /*height: 470px;*/
    /*}*/
    /*.ac-container input:checked ~ article.ac-small {*/
    /*height: 340px;*/
    /*}*/
    /*.ac-container input:checked ~ article.ac-medium {*/
    /*height: 360px;*/
    /*}*/
    .ac-container input:checked ~ article.ac-large {
        height: auto;
    }
    .ac-container input:checked ~ article.ac-small {
        height: auto;
    }
    .ac-container input:checked ~ article.ac-medium {
        height: auto;
    }
}
/*========================================================================================================================*/
/*========================================================================================================================*/
@media screen and (min-width: 0) and (max-width: 522px){
    .form {
        width: 100%;
    }
    .form p {
        text-align: center;
    }
    .form p input[type="text"], .dropdown {
        width: 300px;
        display: block;
        text-align: center;
        margin: 10px auto 0;
    }
}
@media screen and (min-width: 0) and (max-width: 389px){
    .form p input[type="text"], .dropdown {
        width: 240px;
    }
}
/*========================================================================================================================*/
/*========================================================================================================================*/
@media screen and (min-width:0) and (max-width:750px) {
    .section5 ul li {
        width: 50%;
        margin-bottom: 50px;
    }
    .section5 {
        margin-bottom: 40px;
    }
}
@media screen and (min-width:0) and (max-width:361px) {
    .section5 ul li {
        width: 100%;
        margin-bottom: 50px;
    }
}
/*========================================================================================================================*/
/*========================================================================================================================*/
@media screen and (min-width:0) and (max-width:509px) {
    .footer {
        height: auto;
    }
}
/*========================================================================================================================*/
/*========================================================================================================================*/
@media screen and (min-width:0) and (max-width:412px) {
    .modalDialog > div, .phoneModalDialog > div {
        width: 270px;
        margin: -200px 0px 0px -155px;
        height: auto;
    }
    .modalDialog-form h2{
        font-size: 20px;
    }
}